.password__input {
  padding-inline-end: 52px;
}

.password__visibility-toggle {
  display: inline-flex;
  vertical-align: middle;

  background-color: var(--color-background-btn-secondary-default);
  border: none;
  border-radius: var(--border-radius);
  color: var(--color-text-secondary);
  user-select: none;
  padding: 4px;

  &:hover {
    background-color: var(--color-background-btn-secondary-hover);
  }

  &:focus {
    outline: none;
  }
}
