.main__container {
  display: grid;
  align-items: center;
  background-color: var(--color-background-overlay);
  min-height: 100vh;
}

.card__container {
  margin: 0 auto;
  width: min(540px, 90%);
}
